/* Defining our colors */
:root{
    --background-color: #f2f2f2;
    --secondary-color: #e0e0e0;
    --topbar-color: #66ccff;
    --hover-color: #80ff80;
    --primary-text-color: #222222;
    --primary-text-color-subheadding: #555555;
    --primary-text-color-light: #ffffff;
}

html {
    background: var(--background-color);
}

body {
    font-family: 'Lato', sans-serif;
}

p {
    color: var(--primary-text-color);
}

/* Title bar */
#topBar{
    background: var(--topbar-color);
    padding: 50px;
}

#apptitle {
    font-weight: lighter;
    text-align: center;
    color: var(--primary-text-color-light);
}

/* To make text unselectable and prevent unwanted highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.lightText {
    color: var(--primary-text-color-subheadding);
    font-size: .75em;
}

.itemFromReceipt {
    margin-top: .5em;
    margin-bottom: .5em;
    /* width: 10em; */
    border: 2px solid #555555;
    border-radius: 1em;
    /* text-align: center; */
}

.itemFromReceiptText{
    align-self: flex-start;
    display: inline-block;
    line-height: .5em;
    height: .5em;
    padding-left: 1em;
    padding-right: 5em;
}

.itemFromReceiptDeleteButton{
    align-self: flex-end;
    height: 2em;
    width: 2em;
}

.itemCard {
    margin: 1rem;
    /* margin-bottom: 1em;
    margin-top: 1em; */
}

.float-right{
    float: right;
}

.itemFromMenu:hover{
    background: var(--hover-color);
}

#mainContent{
    width: 100%;
    padding: 2rem;
}

/* #rightBar {
    background-color: var(--secondary-color);
} */

.topnav {
    float: right;
    width: 100%;   
}

.box {
	border: 1px solid #000;
	padding: 2px;
	/*border: 2px solid #555555;
    border-radius: 1em;
    */
}

.logo {
	width: 8%;
}
