/* Defining our colors */
:root{
    --background-color: #f2f2f2;
    --topbar-color: #66ccff;
    --primary-text-color: #222222;
    --primary-text-color-light: #ffffff;
}

html {
    background: var(--background-color);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: var(--primary-text-color);
}

/* Title bar */
#topBar{
    background: var(--topbar-color);
    padding: 100px;
}

#apptitle {
    font-weight: lighter;
    text-align: center;
    color: var(--primary-text-color-light);
}

.itemFromReceipt {
    width: 10em;
    border: 2px solid #555555;
    border-radius: 1em;
    text-align: center;
}

.itemFromMenu {
    display: inline-block;
    width: 10em;
    height: 10em;
    margin: 1em;
    background: #e5e5e5;
    color: #444444;
    line-height: 10em;
    border: 0px solid;
    border-radius: 1em;
    text-align: center;
}

.mainContent{
    width: 100%;
}

.itemContent{
    width: 75%;
}

.shoppingCart{
    width: 5%;
}